paper.aux
paper.bbl
paper.blg
paper.fdb_latexmk
paper.fls
paper.log
paper.out
paper.synctex.gz
Template.tex
Template.pdf
paper.pdf
**/tmpdata/*
**/*.pyc
simulations/dynamic_tst.py
simulations/.nfs0000000002c93fc500000043
simulations/static_large1.py
simulations/static_large_tst.py
simulations/nohup.out
